<div class="columns">
  <div class="column col-4 col-xs-12"></div>
  <div class="column col-4 col-xs-12 mb-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title h5 text-center">Dit forlagslogin</div>
        <div class="card-subtitle text-gray text-center">Velkommen til Mikrofest</div>
      </div>
    
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, input_html: { maxlength: "100%" } %>
          <%= f.input :password, required: true, input_html: { maxlength: "100%" } %>
        <label class="form-switch text-center">
          <input type="checkbox">
          <i class="form-icon"></i>
          <div class="remember-me">Husk mig</div>
          <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </label>
        </div>
    
        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn btn-primary" %>
        </div>
    
        <% end %>
      </div>
    
      <div class="card-footer">
        <%= render "publishers/shared/links" %>
        <%= link_to "Læs mere", pub_read_more_path() %>
      </div>
    </div>
  </div>
</div>
