.purchases.tabs-divs{class: tabs_open_helper(tabs_param: params[:profile], tab_id: "purchases", active_class: "d-block", inactive_class: "d-none")}
  - if @orders.any?
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th ID:
          %th Dato:
          %th Beløb: 
          %th Titler:
          %th Levering:
          %th Betaling gennemført?
      %tbody
        - @orders.each do |order| 
          %tr 
            %td= order.id
            %td= order.created
            %td= order.amount.to_s + " DKK"
            %td Hvad indeholdt ordren?
            %td Kommer snart
            %td= order.paid ? "<i class='icon icon-check'></i>".html_safe : "<i class='icon icon-check'></i>".html_safe
  - else
    .empty
      .empty-icon
        %i.icon.icon-download
      %p.empty-title.h5 Du har ikke købt noget endnu
      %p.empty-subtitle Det behøves man altså heller ikke, men der er så meget vi gerne vil vise dig!
      .empty-action
        = link_to "Se alle bøger", all_titles_path(), class: "btn btn-primary"
