.row
  .columns.eight  
    %h3 Du er ved at skrive dig op til noget ret fantastisk
    %p Suspendisse massa lorem, dignissim at, vehicula et, ornare non, libero.
    Donec molestie, velit quis dictum scelerisque, est lectus hendrerit lorem,
    eget dignissim orci nisl sit amet massa. Etiam volutpat lobortis eros. Nunc
    ac tellus in sapien molestie rhoncus. Pellentesque nisl. Praesent venenatis
    blandit velit. Fusce rutrum. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Pellentesque vitae erat. Vivamus
    porttitor cursus lacus. Pellentesque tellus. Nunc aliquam interdum felis.
    Nulla imperdiet leo. Mauris hendrerit, sem at mollis pharetra, leo sapien
    pretium elit, a faucibus sapien dolor vel pede. Vestibulum et enim ut nulla
    sollicitudin adipiscing. Suspendisse malesuada venenatis mauris. 
  .columns.four
    = simple_form_for @user do |f| 
      = f.input :full_name, label: "Fulde navn", input_html: { class: "u-full-width" }
      = f.input :address, label: "Adresse", input_html: { class: "u-full-width" }
      = f.input :email, label: "Email-adresse", input_html: { class: "u-full-width" }
      = f.input :password, label: "Kodeord", input_html: { class: "u-full-width" }
      = f.submit "Opret bruger", class: "button-primary"


