%h2.text-center Din profil
%ul.tab.tab-block
  %li.tab-item.active
    = link_to "Oplysninger", "#", class: "mikro-tabs", data: {target: 'user-information'}
  %li.tab-item.active
    = link_to "Favoritter", "#", class: "mikro-tabs", data: {target: 'favorites'}
  %li.tab-item.active
    = link_to "Tidligere køb", "#", class: "mikro-tabs", data: {target: 'purchases'}
  %li.tab-item.active
    = link_to "Kontakt", "#", class: "mikro-tabs", data: {target: 'contact'}

= render 'user_information'
= render 'favorites'
= render 'purchases'
= render 'contact'

