<div class="countdown-wrapper">
	<div class="ct-box">
		<%= image_tag 'giphy.gif', class: "logo-gif" %>
	</div>

	<div class="ct-box ct-text">
		<div>
			<p class="brown-border"><b>Mikrofest</b></p> 
		</div>
		
		<div>
			<p class="brown-border">Store bøger fra små forlag</p> 
		</div>
		<div>
			<p class="black-border">Åbner i løbet af 2018 </p>
		</div>
		
		<div>
			<p class="blue-border">Mikrofest-antologien udkommer d. 3. marts – læs mere 
				<a class="brown-link" href="https://www.facebook.com/events/166199564022757" target="_blank">her</a>
			</p>
		</div>
		
		<div>
			<p class="brown-border">Følg os på <a class="black-link" href="https://www.facebook.com/mikrofest.dk/" target="_blank">Facebook</a></p>
		</div>
		
		<div>
			<p class="black-border">Sig <a class="blue-link" href="mailto:hej@mikrofest.dk?Subject=Hej%20Mikrofest" target="_top">hej@mikrofest.dk</a></p>
		</div>
		
		<div>
			<p class="blue-border"> Mikrofest er støttet af Statens Kunstfond og Fonden Roskilde Festival.  </p>
		</div>
	</div>
</div>

  <div class="nyhedsbrev">
    <%= form_for :mailchimp, url: add_to_mailchimp_path(), remote: true do |f| %>
      <%= f.text_field :email, placeholder: "Indtast email" %>
      <%= f.text_field :first_name, placeholder: "Indtast fornavn" %>
      <%= f.text_field :last_name, placeholder: "Indtast efternavn" %>
      <%= f.submit "Tilmeld nyhedsbrev" %>
    <% end %>
  </div>
