%h3.text-center
  Titler af #{@publisher.name}
= link_to "← Tilbage til forlag".html_safe, publishers_path()
- if @titles.any?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Forlagets navn:
        %th
        %th
    - @titles.each do |tit|
      %tbody
        %tr
          %td= tit.title
          %td= link_to "Vis", one_title_path(tit.publisher.id, tit.id), class: "button"
          %td= link_to "Rediger", edit_publisher_title_path(tit.publisher.id, tit.id), class: "button"
          %td= link_to "Slet", publisher_title_path(tit.publisher.id, tit.id), method: :delete, data: {confirm: "Er du sikker på, at du vil slette #{tit.title}?"}, class: "button"
- else
  %p.text-center
    Ingen forlag er blevet oprettet endnu
= link_to "Opret nyt forlag", new_publisher_path(), class: "button button-primary"
