- if @cart_items.any? 
  %h2 Din kurv:
  %table.w-100
    %thead
      %tr
        %td Stk.
        %td Titel
        %td Forlag
        %td Pris
        %td 
    %tbody 
      - @cart_items.each do |item|
        %tr
          %td= item.quantity
          %td= link_to item.title.title, one_title_path(item.title.publisher.id, item.title.id)
          %td= link_to item.title.publisher.name, one_publisher_path(item.title.publisher.id)
          %td= pretty_amount_helper(item.quantity * item.title.price)
          %td= link_to "<i class='icon icon-cross'></i>".html_safe, cart_item_path(item.id), method: :delete, class: "delete-cart-item-btn"
- else
  .empty
    .empty-icon
      %i.icon.icon-download
    %p.empty-title.h5 Der er ikke noget i kurven
    %p.empty-subtitle Mangler du inspiration?
    .empty-action
      = link_to "Se alle bøger", all_titles_path(), class: "btn btn-primary"

   



.bookshelf--frame
  .book-wrapper
    %img{:alt => "A tall book", :height => "500", :src => "https://placeholdit.imgix.net/~text?txtsize=33&txt=a+tall+book&w=300&h=500", :width => "300"}/
  .book-wrapper
    %img{:alt => "A normal book", :height => "350", :src => "https://placeholdit.imgix.net/~text?txtsize=33&txt=a+normal+book&w=250&h=350", :width => "250"}/
  .book-wrapper
    %img{:alt => "A wide book", :height => "280", :src => "https://placeholdit.imgix.net/~text?txtsize=33&txt=a+wide+book&w=400&h=280", :width => "400"}/
  .book-wrapper
    %img{:alt => "A normal book", :height => "350", :src => "https://placeholdit.imgix.net/~text?txtsize=33&txt=a+normal+book&w=250&h=350", :width => "250"}/
  .book-wrapper
    %img{:alt => "A normal book", :height => "350", :src => "https://placeholdit.imgix.net/~text?txtsize=33&txt=a+normal+book&w=250&h=350", :width => "250"}/
  .book-wrapper
    %img{:alt => "A tall book", :height => "500", :src => "https://placeholdit.imgix.net/~text?txtsize=33&txt=a+tall+book&w=300&h=500", :width => "300"}/
  .book-wrapper
    %img{:alt => "A wide book", :height => "280", :src => "https://placeholdit.imgix.net/~text?txtsize=33&txt=a+wide+book&w=400&h=280", :width => "400"}/

