= form_for @publisher do |f|
  = render partial: 'forms/shared/error_messages', locals: {record: @publisher}
  .columns
    .column.col-sm-6
      = f.label :name, "Navn på forlag"
      = f.text_field :name, class: "u-full-width"
    .column.col-sm-6
    .column.col-12
      = f.label :description, "Beskrivelse af forlag"
      = f.text_area :description, class: "u-full-width"
    .column.col-12
      - if @publisher.image.file.nil?
        = f.label :image, "Tilføj billede"
        = f.file_field :image
      - else
        = image_tag @publisher.image.thumb.url
        = f.label :image, "Tilføj et andet billede"
        = f.file_field :image
    .column.col-12
      = f.submit "Gem forlag", class: "button-primary"
