<%= form_for @publisher do |f| %>
<div class="row">
  <div class="six columns">
    <%= f.label :name, "Navn på forlag" %>
    <%= f.text_field :name, class: "u-full-width" %>
  </div>
  <div class="six columns">
  </div>
  <div class="twelve columns">
    <%= f.label :description, "Beskrivelse af forlag" %>
    <%= f.text_area :description, class: "u-full-width" %>
  </div>
  <div class="twelve columns">
    <%= f.label :image, "Tilføj billede" %>
    <%= f.file_field :image %>
  </div>
  <div class="twelve columns">
    <%= f.submit "Gem forlag", class: "button-primary" %>
  </div>
</div>
<% end %>
<!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

<!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
