= link_to "← tilbage til #{@publisher.name}s titler".html_safe, publisher_titles_path(@publisher.id)
= form_for [@publisher, @title], class: "form-group" do |f|
  = render partial: 'forms/shared/error_messages', locals: {record: @title}
  .col-12.col-sm-6
    = f.label :title, "Titel", class: "form-label"
    = f.text_field :title, class: "form-input"
  .col-12
    = f.label :description, "Beskrivelse af titel", class: "form-label"
    = f.text_area :description, class: "form-input"
  .col-12.col-sm-6
  - if @title.image.file.nil?
    = f.label "Tilføj nyt billede"
    = f.file_field :image
  - else
    = image_tag @title.image.thumb.url
    = f.label "Tilføj et andet billede"
    = f.file_field :image

  %h5 Anmeldelser:
  .columns
    = f.fields_for :reviews do |r|
      = render 'review_fields', f: r
    .links.col-12
      = link_to_add_association 'Tilføj anmeldelse', f, :reviews, class: "btn btn-secondary"

  .clear
    = f.submit "Gem titel", class: "button-primary"
