= link_to "← tilbage til #{@publisher.name}s titler".html_safe, publisher_titles_path(@publisher.id)
= form_for [@publisher, @title] do |f|
  = render partial: 'forms/shared/error_messages', locals: {record: @title}
  .row
    .six.columns
      = f.label :title, "Titel"
      = f.text_field :title, class: "u-full-width"
    .six.columns
  = f.label :description, "Beskrivelse af titel"
  = f.text_area :description, class: "u-full-width"
  .row
    .six.columns
      - if @title.image.nil?
        = f.label "Tilføj nyt billede"
        = f.file_field :image
      - else
        = image_tag @title.image.thumb.url
        = f.label "Tilføj et andet billede"
        = f.file_field :image

  %h5 Anmeldelser:
  .row.reviews
  = f.fields_for :reviews do |r|
    = render 'review_fields', f: r
  .links.twelve.columns
    = link_to_add_association 'Tilføj anmeldelse', f, :reviews, class: "button button-secondary"
  .clear
  .row
    = f.submit "Gem titel", class: "button-primary"
/ Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it
/ Note: The class .u-full-width is just a utility class shorthand for width: 100%
