!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mikrofest | Store bøger fra små forlag
    = csrf_meta_tags
    = favicon_link_tag 'favicon.jpg'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    = render partial: 'shared/header'
    .container.grid-lg
      = render partial: 'shared/menu'
      = render partial: 'shared/messages'
      .content-wrapper
        = yield
      = render partial: 'shared/footer'
