<!DOCTYPE html>
<html>
  <head>
    <title>Mikrofest | Store bøger fra små forlag</title>
    <%= csrf_meta_tags %>

		<%= favicon_link_tag 'favicon.jpg' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

		<%= render partial: 'shared/header' %>

		<div class="container">
		<%= render partial: 'shared/menu' %>

			<%= render partial: 'shared/messages' %>

       
			<div class="content-wrapper">
			  <%= yield %>
			</div>

		<%= render partial: 'shared/footer' %>

		</div>

  </body>
</html>
