<!DOCTYPE html>
<html>
  <head>
    <title>Mikrofest | Store bøger fra små forlag</title>
    <%= csrf_meta_tags %>

		<%= favicon_link_tag 'favicon.jpg' %>
    <%= stylesheet_link_tag    'countdown', media: 'all' %>
    <%= javascript_include_tag 'application' %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Åbner i løbet af 2018. Mikrofest-antologien udkommer d. 3. marts. Følg os på Facebook. Mikrofest er støttet af Statens Kunstfond og Fonden Roskilde Festival." />
		<meta property="og:image"              content="<%= image_url 'facebook-share.jpg' %>" />
		<meta property="og:description" content="Åbner i løbet af 2018. Mikrofest-antologien udkommer d. 3. marts. Følg os på Facebook. Mikrofest er støttet af Statens Kunstfond og Fonden Roskilde Festival." />	
	</head>

  <body>
    <%= yield %>
  </body>
</html>
